#visual .main-banner li.on .txt h2{
    animation: aniH2 1s linear 1 forwards ;
    opacity: 0;
 }
#visual .main-banner li.on .txt h2 + p{
    animation: aniTxt 1s linear 1 forwards ;
    opacity: 0;
}
#visual .main-banner li.on .txt .more{
    animation: aniMore 1s linear 1 forwards ;
    opacity: 0;
}

#visual .scroll{
    animation: aniScroll 1s linear infinite alternate 

}

@keyframes aniTxt {
    0%, 20% { transform: translateY(20px); opacity: 0;}
    100% { transform: translateY(0px); opacity: 1;}
}

@keyframes aniH2 {
    0% { transform: translateY(20px); opacity: 0;}
    100% { transform: translateY(0px); opacity: 1;}
}

@keyframes aniMore {
    0%, 50% { transform: translateY(20px); opacity: 0;}
    100% { transform: translateY(0px); opacity: 1;}
}

@keyframes aniScroll {
    0% { bottom: 40px; }
    100% { bottom: 10px; }
}