#footer {
    background: #131313;
    .inner {
        width: 1280px;
        height: 170px;
        padding: 40px;
        position: relative;
        p {
            font-size: 14px;
            color: #fff;
            &:nth-of-type(4) {
                margin-top: 20px;
            }
            &.top {
                position: absolute;
                top: -70px;
                right: 0;
            }
        }
    }
}
