.main {
    .con-box {
        width: 100%;
        .inner {
            padding: 120px 0;
        }
        h2 {
            font-size: 45px;
            font-weight: 500;
        }
        .more {
            a {
                display: inline-block;
                width: 180px;
                height: 50px;
                border: 1px solid #000;
                text-align: center;
                line-height: 50px;
                font-size: 15px;
                border-radius: 25px;
                position: relative;
                overflow: hidden;
                span {
                    transition: 0.4s;
                    z-index: 5;
                    position: relative;
                }
                i {
                    vertical-align: middle;
                    margin-left: 5px;
                }
                &::after {
                    content: '';
                    display: block;
                    width: 250px;
                    height: 70px;
                    background: orange;
                    transition: 0.4s;
                    transform: skewX(15deg);
                    position: absolute;
                    left: -260px;
                    top: -10px;
                }
            }
            &:hover {
                a {
                    &::after {
                        left: -10px;
                    }
                }
            }
        }
    }

    .box2 {
        h2 {
            margin-bottom: 25px;
            & + p {
                font-size: 17px;
                font-weight: 300;
                margin-bottom: 40px;
            }
        }
        .more {
            a {
                border-color: #fff;
                span {
                    color: #fff;
                }
                &::after {
                    background: #fff;
                }
                &:hover {
                    border-color: #000;
                    span {
                        color: #000;
                    }
                    &::after {
                        background: #fff;
                    }
                }
            }
        }
    }

    .con3 {
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 45%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgb(30, 30, 201);
            z-index: -10;
        }
        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .left {
            width: 480px;
            color: #fff;
            h2 {
                &::after {
                    content: '';
                    width: 120px;
                    height: 2px;
                    background: #fff;
                    display: inline-block;
                }
                & + p {
                    word-break: keep-all;
                }
            }
        }
        ul {
            width: 620px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                margin-bottom: 25px;
                a {
                    div {
                        width: 275px;
                        height: 175px;
                        overflow: hidden;
                        margin-bottom: 10px;
                        img {
                            width: 100%;
                            height: 175px;
                            transition: 0.5s;
                        }
                        &:hover {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}
